<div class="col-md-3" data-col="left">
    <f:for each="{children_201}" as="record">
        <f:format.raw>{record.renderedContent}</f:format.raw>
    </f:for>
</div>
<div class="col-md-3" data-col="middle-left">
    <f:for each="{children_203}" as="record">
        <f:format.raw>{record.renderedContent}</f:format.raw>
    </f:for>
</div>
<div class="col-md-3" data-col="middle-right">
    <f:for each="{children_204}" as="record">
        <f:format.raw>{record.renderedContent}</f:format.raw>
    </f:for>
</div>
<div class="col-md-3" data-col="right">
    <f:for each="{children_202}" as="record">
        <f:format.raw>{record.renderedContent}</f:format.raw>
    </f:for>
</div>

